@model Lib.Data.CargoDal



    <form method="post">
        <h3>Editar Cargo</h3>
        <hr />
        <div class="row mt-3">
            <div class="col-8">
                <input asp-for="Nome" class="form-control" placeholder="Nome do Cargo." />
            </div>
            <div class="col-4">
                <input asp-for="Nivel" class="form-control" placeholder="Nivel." />
            </div>
            <div class="col-12 mt-3">
                <button type="submit" class="form-control btn btn-primary" asp-action="EditarCargo" asp-controller="PainelAdmin"><i class="fa-solid fa-pen-to-square"></i></button>
            </div>

        </div>
    </form>