@model Lib.Data.ProjetoDal


@{ViewData["Title"] = "Editar Projeto";}

<form method="post">
    <div class="row mt-3">
        <div class="col-10">
            <input asp-for="Nome" class="form-control" placeholder="Nome do Cargo." />
        </div>
        <div class="col-2">
            <input asp-for="Prioridade" class="form-control" placeholder="Nivel." />
        </div>
        <div class="col-12 mt-3">
            <label>Descrição:</label>
            <textarea asp-for="Desc" rows="20" placeholder="Descrição." name="Desc" class="form-control"> </textarea>
        </div>
        <div class="col-12 mt-3">
            <button type="submit" class="form-control btn btn-primary" asp-action="EditarProjeto" asp-controller="PainelAdmin"><i class="fa-solid fa-pen-to-square"></i></button>
        </div>

    </div>
</form>