@model List<Lib.Data.ContaDal>


@{ViewData["Title"] = "Painel Admin";}

<div class="row d-flex justify-content-center">
    <div class="col-2">
        <a asp-action="Cargos" asp-controller="PainelAdmin" class="btn btn-primary form-control"><i class="fa-solid fa-user mr-2"></i>Cargos</a>
    </div>
    <div class="col-2 ml-1">
        <a asp-action="Projetos" asp-controller="PainelAdmin" class="btn btn-primary form-control"><i class="fa-solid fa-cube mr-2"></i>Projetos</a>
    </div>
</div>
<hr />

<form method="post">
    <div class="row">
        <div class="col-11">
            <input id="Pesquisa" placeholder="Digite uma palavra relacionada a conta." name="NomeDaTarefa" class="form-control" />
        </div>
        <div class="col-1">
            <button type="submit" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </div>
    <div>
        <table class="table mt-3">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Email</th>
                    <th>Admin</th>
                    <th>Cargo</th>
                    <th>Projetos</th>
                </tr>
            </thead>
            <tbody>
                @{

                    if (Model != null)
                        foreach (var conta in Model)
                        {
                            <tr>
                                <td width="20%">@conta.Conta</td>
                                <td width="20%">@conta.Email</td>
                                <td width="20%">@(conta.Admin?"Sim":"Não")</td>
                                <td width="10%"><a class="btn btn-primary" asp-action="AdicionarCargo" asp-controller="PainelAdmin"><i class="fa-solid fa-user"></i></a></td>
                                <td width="10%"><a class="btn btn-primary" asp-action="AtribuirProjeto" asp-controller="PainelAdmin"><i class="fa-solid fa-cube"></i></a></td>
                            </tr>
                        }
                }
            </tbody>
        </table>
    </div>
</form>