@model Lib.Dto.NovaContaDto

<link href="~/css/login.css" rel="stylesheet" />


<div id="card-create">
    <form method="post">
        <h3>REGISTRAR</h3>
        <label>Login:</label>
        <input asp-for="Conta" placeholder="Digite o seu Login" />

        <label>Senha:</label>
        <input asp-for="Senha" type="password" placeholder="Digite a sua Senha" />

        <label>Repita a senha:</label>
        <input asp-for="SenhaRepetida" type="password" placeholder="Repita a senha" />

        <label>Email:</label>
        <input asp-for="Email" type="email" placeholder="Digite o email" />

        <button type="submit" class="btn btn-success form-control">CRIAR</button>
        <p class="mt-2">Se deseja logar <a asp-action="Entrar" asp-controller="Login">Clique aqui!</a></p>
    </form>
</div>