<link href="/css/login.css" rel="stylesheet" />

<div id="card-login">
    <form method="post">
        <h3>Logar</h3>

        <label>Login:</label>
        <input placeholder="Digite o seu Login" />

        <label>Senha:</label>
        <input type="password" placeholder="Digite a sua Senha" />

        <button type="submit" id="Logar" value="login">login</button>
    </form>
    <p class="mt-2">Se deseja criar a sua conta, <a asp-action="Criar" asp-controller="Login">clique aqui</a> para se registrar!</p>
</div>