@model Lib.Dto.ContaDto


<link href="/css/login.css" rel="stylesheet" />

<div id="card-login">
    <form method="post">
        <h3>ENTRAR</h3>

        <label>Login:</label>
        <input asp-for="Conta" placeholder="Digite o seu Login" />

        <label>Senha:</label>
        <input asp-for="Senha" type="password" placeholder="Digite a sua Senha" />
        <button class="btn btn-success" type="submit">ENTRAR</button>
        <div asp-validation-summary="All"></div>
        <a asp-action="criar" asp-controller="login" class="ml-2 btn btn-secondary">CRIAR CONTA</a>
    </form>

</div>