<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="~/css/fontawesome-free-6.1.1-web/css/all.css">
</head>
<body>
    <header>

        @{
            var pagina = ViewData["Entrar"];
        }
        @if (pagina == null)
        {
            <nav class="sidebar">
                <div class="text"> Organize </div>
                <ul class="main_side">
                    <li><a href="#"><i class="fa-solid fa-list-check mr-1"></i>Chamados</a></li>
                    <li>
                        <a href="#" id="1"><i class="fa-solid fa-user mr-1"></i>Planejamentos Pessoais <span class="fas fa-caret-down"></span> </a>
                        <ul class="item-show-1">
                            <li><a asp-action="Tarefas" asp-controller="Planejamento"><i class="fa-solid fa-calendar mr-1"></i>Tarefas</a></li>
                            <li><a asp-action="Economias" asp-controller="Planejamento"><i class="fa-solid fa-sack-dollar mr-1"></i>Economias</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" id="2"><i class="fa-solid fa-hammer mr-1"></i>Funções Administrativas<span class="fas fa-caret-down"></span> </a>
                        <ul class="item-show-2">
                            <li><a asp-action="Index" asp-controller="PainelAdmin"><i class="fa-solid fa-hammer mr-1"></i>Painel do Admin</a></li>
                            <li><a asp-action="Cargos" asp-controller="PainelAdmin"><i class="fa-solid fa-user mr-2"></i>Cargos</a></li>
                            <li> <a asp-action="Projetos" asp-controller="PainelAdmin"><i class="fa-solid fa-cube mr-2"></i>Projetos</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="content ">
                <div class="header">
                    <h3 class="text-center">@ViewData["Title"]</h3>
                    <hr />
                    @RenderBody()
                </div>
            </div>
        }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if (ViewData["Entrar"] != null)
            {
                @RenderBody()
            }
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>

    $('.sidebar').toggleClass("show");


    $('.sidebar ul li a').click(function () {
        var id = $(this).attr('id');
        $('nav ul li ul.item-show-' + id).toggleClass("show");
        $('nav ul li #' + id + ' span').toggleClass("rotate");

    });

    $('nav ul li').click(function () {
        $(this).addClass("active").siblings().removeClass("active");
    });
</script>
