@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

@media(max-width: 1000px) {
    .sidebar {
        visibility: hidden;
    }
}


body {
    background-color: #eee
}

    .btn.click {
        left: 260px
    }

    .btn span {
        color: white;
        font-size: 15px;
        line-height: 36px
    }

    .btn.click span:before {
        content: '\f00d'
    }

.sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    left: -250px;
    background: #1b1b1b;
    transition: left 0.4s ease
}

    .sidebar.show {
        left: 0px
    }

    .sidebar .text {
        color: white;
        font-size: 19px;
        font-weight: 600;
        line-height: 65px;
        text-align: center;
        background: #1e1e1e;
        letter-spacing: 1px
    }

nav ul {
    background: #1b1b1b;
    height: 100%;
    width: 100%;
    list-style: none;
    padding-left: 10px
}

    nav ul li {
        line-height: 50px;
        border-top: 1px solid rgba(255, 255, 255, 0.1)
    }

        nav ul li:last-child {
            border-bottom: 1px solid rgba(255, 255, 255, 0.05)
        }

        nav ul li a {
            position: relative;
            color: white;
            text-decoration: none;
            font-size: 13px;
            padding-left: 14px;
            font-weight: 500;
            display: block;
            width: 100%;
            border-left: 3px solid transparent
        }

        nav ul li.active a {
            color: #FC5404;
            background: #1e1e1e;
            border-left-color: #FC5404
        }

        nav ul li a:hover {
            background: #1e1e1e
        }

.feat-show {
    transition: all 0.5s
}

nav ul li.active ul {
    transition: all 0.5s
}

nav ul ul {
    position: static;
    display: none
}

nav ul.show {
    display: block;
    transition: all 0.5s
}

nav ul ul li {
    line-height: 42px;
    border-top: none
}

    nav ul ul li a {
        font-size: 12px;
        color: #e6e6e6
    }

nav ul li.active ul li a {
    color: #e6e6e6;
    background: #1b1b1b;
    border-left-color: transparent
}

a:hover {
    color: #FC5404 !important
}

nav ul ul li a:hover {
    color: #FC5404 !important;
    background: #1e1e1e !important
}

nav ul li a span {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 15px;
    transition: transform 0.4s
}

    nav ul li a span.rotate {
        transform: translateY(-50%) rotate(-180deg)
    }

.content {
    position: absolute;
    top: 10%;
    right: 10%;
    left: 20%;
    color: #202020;
    z-index: -1;
    width: 900px;
    height: 900px;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

ul:hover {
    color: #ffffff;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
